<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <title>Post Create</title>
</head>
<body>
<div th:replace="header :: headerFragment"></div>
<div class="container">
    <div class="page-header">
        <h1>게시글 작성</h1>
    </div>

    <form action="/post/create" method="post">
        <div>
            <div class="form-group">
                <label for="title">
                    제목
                </label>
                <textarea class="form-control" id="title" name="title"></textarea>
            </div>

            <div class="form-group">
                <label for="contents">
                    내용
                </label>
                <textarea class="form-control" id="contents" name="contents"
                          style="width: 1100px; height:300px"></textarea>
            </div>
            <div class="form-group">
                <label for="author_email">
                    작성자 이메일
                </label>
                <input class="form-control" id="author_email" name="email"
                          style="width: 400px;">
            </div>
            <button class="btn btn-secondary mt-3" type="submit" >게시글 등록하기</button>
        </div>
    </form>
</div>

</body>
</html>